<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="controller.js"></script>
        <script src="service.js"></script>
        <script src="app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Kogan.com interview Code Challenge</h4>
            </div>
            <div class="container">
                <h1>Calculate average cubic weight</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Width(cm)</th>
                            <th>Length(cm)</th>
                            <th>Height(cm)</th>
                            <th>Weight(g)</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="object in objects">
                            <td>{{object.size.width}}</td>
                            <td>{{object.size.length}}</td>
                            <td>{{object.size.height}}</td>
                            <td>{{object.weight}}</td>
                            <td>{{object.category}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12">
                <h3>Average cubic weight (Air Conditions): {{averageCubicWeight}}kg ({{averageCubicWeight | number:2}}kg)</h3>
                <div class="col-sm-4" >
                    <button type="button" class="btn btn-success" ng-click="getTotal()">Calculate</button>
                </div>
            </div>
        </div>
    </body>
</html>